.back{
    background: url("../assets//back.png");
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (min-width:2000px) {
    .widthFooter{
        width: 65% !important;
    }
   
}