.containerBanner{
    height: 200px !important;
}
.missionBox{
  background: url('../assets//bgAbout.png') !important;
  background-repeat: no-repeat;
  background-position: 30% !important;
  height: 100%;
  width: 100%;


}
.homeMain{
    background: url('../assets/bannerBg.png');
    background-color: #030B15;
    background-position: 70%;
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    background: white;
    position: relative;
  }
  
  .box::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background:#7E489B;
    z-index: -1;
    filter: blur(12px);
  }
  #sec5{
    background-image: url("../assets//sec5Bg.png");
    background-repeat: no-repeat;
    background-size: contain;

  }
  #about1{
    background-image: url("../assets//about1.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .sec6{
    background: url("../assets//back.png");
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* .widthHome{
    width:65%
  }
  .widthHome2{
    width: 55%;
  } */

/* @media screen and (min-width:1700px) {
    .widthHome{
        width: 65% !important;
    }
} */
@media screen and (min-width:2000px) {
    .widthHome{
        width: 65% !important;
    }
    .widthProductLessTable{
      width:51%;
    }
    .widthProduct2{
      width: 100%;
    }
    .widthProductLess{
      width:50%
    }
    .widthHome2{
        width: 50% !important;
      }
      .regulateWidth{
        width: 50%;
        bottom: -170px;
      }
      .secondSecHomeMain{
        padding-top:300px;
      }
      .homeMain{
        /* height: 1000px; */
      }
   
}



@media screen and (max-width:1600px) {
 h1{
  font-size: 70px;
  line-height: 80px;
 }
 h2{
  font-size: 65px;

 }
 .regulateWidth h2{
  font-size: 30px;
 }
 .secondHome h2{
  font-size: 25px;
 }
 .thirdSecHome{
  flex-direction: column;
  gap: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
 }
 .thirdSecHome div{
  width: 100%;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .thirdSecHome div p{
  text-align: center;
  width: 50%;
 }
 .thirdSecHome div div{
 flex-direction: row;
 margin-left: 100px
 }
 .thirdSecImageHome{
  width: 70%;
 }
#sec5{
  width: 1000px;
  position: relative;
  top: 100px;
}
.sixSecHome{
  flex-direction: column;
}
.sixSecHomediv1{
  flex-direction: row;
  width: 80%;
}
.sixSecHomediv2{
  flex-direction: row;
  width: 80%;
}
.regulateWidth h2{
  font-size: 50px;
 }
.sixSecHomediv1 h2{
  font-size: 25px;
}
.sixSecHomediv2 h2{
  font-size: 25px;
}
.miniSecHome h2{
  font-size: 30px;
}
.sec6Home h2{
  font-size: 40px;
  line-height: 50px;
}
} 

@media screen and (max-width:1200px) {
  h1{
   font-size: 50px;
   line-height: 60px;
  }
  h2{
   font-size: 43px;
   line-height: 53px;
 
  }
  .secondSecHome p{
    width: 85%;
  }
 
  .regulateWidth h2{
   font-size: 30px;
  }
  .secondHome h2{
   font-size: 25px;
  }
  .thirdSecHome{
   flex-direction: column;
   gap: 100px;
  }
  .thirdSecHome div{
   width: 100%;
   display: flex ;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .thirdSecHome div p{
   text-align: center;
   width: 70%;
   font-weight: 200;
  }
  .thirdSecHome div div{
  flex-direction: row;
  margin-left: 100px
  }
  .thirdSecImageHome{
   width: 70%;
  }
  .bulkPaySec{
    flex-direction: column;
  }
  .bulkPaySecDiv1{
    width: 700px !important;
    height: 630px;
  }
  .bulkPaySecDiv2 p{
   font-weight: 300 !important;
  }
  
  .bulkPaySecDiv2 h2{
    line-height: 50px;
   }
  .bulkPaySecDiv1 img{
    width: 200px !important;
    height: 200px !important;
    top: 150px;
  }
  .bulkPaySecDiv2{
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 170px;
  }
 .sixSecHome{
   flex-direction: column;
 }
 .sixSecHomediv1{
   flex-direction: row;
   width: 80%;
 }
 .sixSecHomediv2{
   flex-direction: row;
   width: 80%;
 }
 .sixSecHomediv1 h2{
   font-size: 25px;
 }
 .sixSecHomediv2 h2{
   font-size: 25px;
 }
 .miniSecHome h2{
   font-size: 30px;
 }
 .sec6Home h2{
   font-size: 30px;
   line-height: 35px;
 }
 .sec6Home p{
  font-weight: 300;
}

 } 